PUBLIC_SUPABASE_URL=https://inilinksupabase
PUBLIC_SUPABASE_PUBLISHABLE_KEY=masukan_PUBLIC_SUPABASE_PUBLISHABLE_KEY_anda_disini
PUBLIC_SUPABASE_ANON_KEY=masukan_PUBLIC_SUPABASE_ANON_KEY_anda_disini
SUPABASE_SERVICE_ROLE_KEY=masukan_SUPABASE_SERVICE_ROLE_KEY_anda_disini
API_KEY_RESEND=masukan_API_KEY_RESEND_anda_disini
RESEND_FROM_EMAIL=Portfolio Contact <contact@yusrilmaqoshidana.my.id>
